.event_page {
  color: #fff;
  margin-top: 2rem;
}
.mar_add_event {
  margin-top: 5rem;
}
.special_link {
  font-size: 2rem;
  text-decoration: underline;
  width: 85%;
  margin: auto;
  color: rgb(255, 217, 0);
  /* animation: animate 1.5s linear infinite; */
}
@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}
.reg {
  margin-top: 1rem;
  padding: 0.5em 1em;
  width: fit-content;
  background-color: #4c4c4d;
  border-radius: 0.5rem;
  transition: 0.7s;
}
.reg:hover {
  color: rgb(206, 175, 3);
}
.content_row {
  font-size: 2rem;
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 100;
}
.heading-list {
  font-weight: 500;
  color: #fff;
  margin-top: 2em;
  margin-bottom: 1em;
}
#last-line {
  padding-bottom: 4em;
}
.content_img {
  width: 500px;
  border-radius: 1em;
}
.content_col1 {
  flex-basis: 40%;
  padding: 10px 0;
}
.content_col2 {
  flex-basis: 60%;
  padding: 10px 30px;
  padding-left: 5rem;
  font-size: 1.7rem;
}
.rules {
  padding: 50px 70px;
  font-size: 1.8rem;
}
.sub_rules_points {
  padding-left: 30px;
  margin-top: 4px;
}
.rules_points {
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .special_link {
    font-size: 1.5rem;
  }
  .heading-list {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .content_row {
    font-size: 1.5rem;
  }
  .mar_add_event {
    margin-top: 5rem;
  }
  .content_col1 {
    flex-basis: 100%;
    margin: auto;
    /* padding: 10px 0; */
  }
  .content_col2 {
    flex-basis: 100%;
    padding: 10px;
    /* padding-left: 5rem; */
    font-size: 1rem;
  }
  .rules {
    padding: 50px;
    font-size: 1rem;
  }
}
