.card-container{
    background: transparent;
    height: 300px;
    width: 200px;
    margin: 10px;
    display: flex;   
    flex-direction: column;
    align-items: center;
}
.image-div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.image{
    display: block;
    width: 9rem;
    height: 9rem;
    border-width: 10px;
    border-style: solid;
    border-left-color: rgb(68, 68, 255);
    border-right-color: rgb(252, 64, 64);
    border-top-color: green;
    border-bottom-color: rgb(248, 248, 96);
    border-radius: 50%;
    
   
}
.about-div{
    text-align: center;
    color: rgb(200, 207, 213);
}
.name{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400;
}
.bio{
    font-size:15px;
    letter-spacing: 1px;
    font-weight: 200;
}
.social{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.link{
    text-decoration: none;
    color: black;
    background-color: rgb(200, 207, 213);
    padding: 5px;
    border-radius: 5px;
    margin: 2px 5px;
}
.link>i{
    font-size: 25px;
}