.contact-container {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(5, 19%);
  margin: 10px auto;
  align-items: center;
  height: auto;
  text-align: center;
}
#contact {
  background-color: var(--bg-color);
  padding-top: 80px;
}
.eventContact_container_T {
  margin-bottom: 190px;
  /* margin-left: 70px; */
  margin-right: 70px;
}
@media screen and (max-width: 1020px) {
  .contact-container {
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (max-width: 650px) {
  .contact-container {
    grid-template-columns: repeat(1, 100%);
  }
  .eventContact_container_T {
    margin-bottom: 50px;
  }
}
