* {
  margin: 0;
  padding: 0;
}
.F_heading {
  background-color: var(--bg-color);
  position: relative;
  /* margin-top: 50px; */
  /* margin-bottom: -50px; */
  /* margin-bottom: -50px;  */
}
.front-heading:hover {
  color: rgb(206, 175, 3);
  color: var(--primary);
}

.front-heading {
  /* font-family: 'Sono', sans-serif;     */
  color: #fff;
  /* color: rgb(206, 175, 3); */
  font-size: 5vw;

  font-weight: 700;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 6vw;
  right: 0;
  left: 0;
}

.bg-heading {
  color: rgba(94, 94, 94, 0.679);
  font-size: 13vw;
  font-weight: 700;
  margin: auto;
  text-align: center;
  /* letter-spacing: 0.1em; */
}
/* @media screen and (max-width: 400px) {
  .front-heading {
    display: none;
  }
} */
