.heading {
    background-color: rgb(38, 39, 40);
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.front-heading {
    /* font-family: 'Sono', sans-serif; */
    color: #fff;
    font-size: 8vw;
    font-weight: bold;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 6vw;
    right: 0;
    left: 0;
}

.bg-heading {
    color: rgba(94, 94, 94, 0.679);
    font-size: 16vw;
    font-weight: bold;
    margin: auto;
    text-align: center;

}

