.footer{
    background-color: var(--bg-color);
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 10px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.colf{
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 10px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.li{
    list-style: none;
    margin-bottom: 12px;
}
.ali{
    text-decoration: none;
    color: #fff;
}   
.form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}
.form .input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.form .button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.form .button .fa-arrow-right-to-bracket{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa-brands{
    width: 35px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.span{
    font-size: 24px;
}
.copyright{
    text-align: center;
}
.underline{
    width: 120%;
    height: 5px;
    background: #666;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.uspan{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left: -10px
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 768px) {
    .footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .colf{
        flex-basis: 100%;
    }
}